

#addnotecon{
    width: 100%;
    height: auto;
    padding-top: 3vh;
}
.addnoteinput input{
    width: 80vw;
    margin-left: 6vw;
}
.addnoteinput label{
    margin-left: 6vw;
}
.addnoteinput textarea{
    width: 80vw;
    margin-left: 6vw;
}
.addnoteinput{
    margin-top: 3vh;
}
#addnotebtn{
    margin-left: 6vw;
    margin-top: 3vh;
}


@media screen and (max-width:420px){
    .addnoteinput input{
        width: 80vw;
        margin-left: 6vw;
    }
    .addnoteinput label{
        margin-left: 6vw;
    }
    .addnoteinput textarea{
        width: 80vw;
        margin-left: 6vw;
    }
    .addnoteinput{
        margin-top: 2vh;
    }
    #addnotebtn{
        margin-left: 6vw;
        margin-top: 2vh;
    }
}

