#parent{
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding-top: 0;
}



@media screen and (max-height:760px){
    #parent{
        height: 110vh;
    }
}

