@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
}
#logincon{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    font-family: 'Playfair Display', serif;
    padding-top: 5vh;
    margin-top: 7vh !important;
    border:2px solid rgb(38, 57, 77);
    height: 45vh !important;
    width: 30vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}
#loginimg{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#loginimg img{
    margin-left: -1vw;
    margin-right: 0.5vw;
    height: 3vw;
    width: 3vw;
}
h2{
    text-align: center;
}
#loginform{
    width: 100%;
    height: auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.mb-0{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
}
.logininput{
    margin-top: 1vh !important;
    margin-bottom: 4vh;
    width: 50%;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    outline: none !important;
    background-color: inherit !important;
}
#loginbtn{
    width: 20%;
    margin-top: 1.5vh !important;
}
.logininput::placeholder{
    text-align: center;

}
@media screen and (max-width:920px){
    #logincon{
        width: 80vw;
    }
    #loginbtn{
        width: 40%;
    }
    #loginimg img{
        margin-right: 2vw;
        height: 5.5vw;
        width: 5.5vw;
    }

}

@media screen and (max-width:420px){
    #logincon{
        width: 80vw;
    }
    #loginbtn{
        width: 40%;
    }
    #loginimg img{
        margin-right: 0.5vw;
        height: 6.5vw;
        width: 6.5vw;
        margin-top: 0.5vh;
    }

}
@media screen and (max-width:370px){
    #loginimg img{
        margin-top: 0.5vh;
        margin-right: -3vh;
        height: 13vw;
        width: 13vw;
    }
}

@media screen and (max-height:800px){
    #logincon{
        height: 50vh !important;
    }
}
