@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;
}
#signupparent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#signupcon{
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    font-family: 'Playfair Display', serif;
    padding-top: 4vh;
    margin-top: 3vh !important;
    border:2px solid rgb(38, 57, 77);
    height: 60vh;
    width: 40vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}
#signupimg{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#signupimg img{
    margin-left: -1vw;
    margin-right: 0.5vw;
    height: 3vw;
    width: 3vw;
}
h2{
    text-align: center;
}
#signupform{
    width: 100%;
    height: auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.mb-0{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
}
.signinput{
    margin-top: 1vh !important;
    margin-bottom: 5vh;
    width: 50%;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    outline: none !important;
    background-color: inherit !important;
}
#signupbtn{
    width: 25%;
}
.signinput::placeholder{
    text-align: center;
}

@media screen and (max-width:920px){
    #signupcon{
        width: 80vw;
    }
    #signupbtn{
        width: 40%;
    }
    #signupimg img{
        margin-right: 2vw;
        height: 5.5vw;
        width: 5.5vw;
    }

}


@media screen and (max-width:420px){
    #signupcon{
        width: 80vw;
    }
    #signupbtn{
        width: 40%;
    }
    #signupimg img{
        margin-top: 0.5vh;
        margin-right: 0.5vw;
        height: 6.5vw;
        width: 6.5vw;
    }
}

@media screen and (max-width:370px){
    #signupimg img{
        margin-top: 0.5vh;
        height: 9vw;
        width: 9vw;
    }
}

@media screen and (max-height:760px){
    #signupcon{
        height: 68vh;
    }
}




